section h2 {
    color: blue;
    font-size: 20px;
}

.container {
    position: absolute;
    background: gray;
    margin: 0 auto;
    text-align: center;
    padding: 50px 200px;
}

.row {
    display: block;
    position: relative;
    transform: 50%
    transform: translate(-50%, -50%);
}

section p {
    color:green;
    font-size: 15px;
}